html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow: scroll; }
  html a {
    text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

label {
  display: none; }

body {
  overflow-y: scroll;
  display: grid;
  position: relative;
  margin: auto;
  min-width: 280px;
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  grid-template-rows: 9% 5.5% 10% minmax(35%, 1fr) minmax(10%, 5rem);
  grid-template-areas: "header"
 "search-field"
 "navbar"
 "ver-field"
 "footer"; }
  body input:focus {
    outline: none; }

.header {
  grid-area: header; }

.search-field {
  grid-area: search-field; }

.navbar {
  grid-area: navbar; }

.ver-field {
  grid-area: ver-field; }

.footer {
  grid-area: footer; }

@media screen and (min-width: 576px) {
  html {
    font-size: 68.75%; }
  body {
    grid-template-rows: 9% 5.5% 10% 45% 1fr minmax(10%, 5rem);
    grid-template-columns: 20% 1fr;
    grid-template-areas: "header header"
 "navbar search-field"
 "navbar ver-field"
 "navbar ver-field"
 ". ver-field"
 "footer footer"; } }

@media screen and (min-width: 992px) {
  html {
    font-size: 75%; } }

body {
  font-family: 'Calibri', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3c3c3b;
  font-size: 1.6rem; }

h2 {
  text-align: center; }

.header__section {
  height: 100%; }

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #89c82e;
  align-items: center; }
  .top-bar__web-icons {
    display: flex;
    width: 30%;
    max-width: 15rem;
    justify-content: space-around;
    font-size: 1.6rem; }
    .top-bar__web-icons a {
      color: rgba(60, 60, 59, 0.8);
      transition: transform .3s;
      backface-visibility: hidden; }
    .top-bar__web-icons a:hover {
      transform: scale(1.05); }
    .top-bar__web-icons a:active {
      transform: scale(0.98); }
    .top-bar__web-icons .fa-user {
      font-size: 3rem; }
  .top-bar h2 {
    font-size: 2.1rem;
    text-transform: uppercase;
    border-bottom: 0.2rem solid #E70064;
    line-height: 2.3rem;
    transition: transform .4s; }
    .top-bar h2:hover {
      transform: scale(1.1); }
  .top-bar span {
    font-style: italic;
    font-weight: 700;
    margin-left: 0.5rem;
    color: #E70064;
    text-decoration: underline; }

@media screen and (min-width: 576px) {
  .top-bar__web-icons {
    font-size: 2rem; }
    .top-bar__web-icons .fa-user {
      font-size: 4rem; } }

@media screen and (min-width: 992px) {
  .top-bar__web-icons {
    font-size: 2.25rem; }
    .top-bar__web-icons .fa-user {
      font-size: 4.25rem; } }

.navbar {
  position: relative;
  background-color: #3c3c3b;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .navbar__href {
    position: relative; }
  .navbar p {
    text-transform: uppercase;
    color: #89c82e;
    font-weight: 700;
    width: 100%; }
  .navbar a {
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all .5s; }
    .navbar a div {
      position: relative;
      top: 25%; }
    .navbar a:hover {
      transform: scale(1.08); }
      .navbar a:hover p {
        color: #E70064; }
    .navbar a:focus p {
      color: #E70064; }

@media screen and (min-width: 576px) {
  .navbar {
    flex-direction: column;
    justify-content: space-evenly; }
    .navbar a {
      padding: 1.1rem; }
      .navbar a div {
        top: 0%; }
      .navbar a:hover {
        transform: translate(0px, -6px);
        background-color: #090908; }
        .navbar a:hover p {
          color: #E70064; }
      .navbar a:focus {
        transform: translate(0px, 2px);
        background-color: #222222; }
        .navbar a:focus p {
          color: #E70064; } }

.ver-field__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%; }
  .ver-field__form h1 {
    font-size: 2.5rem;
    color: #E70064; }
  .ver-field__form__form-container {
    background-color: #89c82e;
    position: relative;
    border: 0.5rem solid #3c3c3b;
    border-radius: 40px;
    width: 95%;
    max-width: 400px;
    min-width: 250px;
    height: 75%; }

.form {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 25% 1fr;
  grid-template-areas: "name name-input"
 "email email-input"
 "card card-input"
 "button button";
  align-items: center;
  row-gap: 0.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%; }
  .form input {
    font-size: 1.4rem;
    border-radius: 1px;
    border: none;
    width: 80%;
    height: 50%;
    transition: background-color 0.2s;
    transition: width 0.3s;
    text-indent: 0.7rem; }
  .form input::placeholder {
    font-size: 1.25rem;
    color: rgba(60, 60, 59, 0.8); }
  .form input:placeholder-shown {
    text-overflow: ellipsis; }
  .form input:focus {
    width: 82.5%; }
  .form .form--name-text {
    justify-self: start;
    grid-area: name; }
  .form .form--name-input {
    grid-area: name-input;
    justify-self: start; }
  .form .form--email-text {
    justify-self: start;
    grid-area: email; }
  .form .form--email-input {
    grid-area: email-input;
    justify-self: start; }
  .form .form--card-text {
    justify-self: start;
    grid-area: card; }
  .form .form--card-input {
    grid-area: card-input;
    justify-self: start; }
  .form .form--button {
    grid-area: button;
    border-radius: 5px;
    border: 0.2rem solid #3c3c3b;
    width: 25%;
    height: 60%;
    font-size: 1.2rem;
    justify-self: center;
    background-color: #E70064;
    color: #3c3c3b;
    font-weight: 700;
    transition: width 0.2s, box-shadow 0.2s;
    letter-spacing: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
    .form .form--button:hover {
      cursor: pointer;
      width: 27%;
      background-color: #dd0060; }
    .form .form--button:active {
      width: 24.2%;
      translate: 0px 2px;
      text-transform: none;
      box-shadow: rgba(50, 50, 93, 0.3) 0px 3px 6px -1px, rgba(0, 0, 0, 0.4) 0px 2px 4px -1px; }
  .form p {
    position: absolute;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    right: 1rem; }

@media screen and (min-width: 576px) {
  .ver-field__form {
    left: 40%; }
    .ver-field__form__form-container {
      max-width: 50rem;
      width: 70%;
      height: 90%; } }

.footer {
  background-color: #3c3c3b; }
  .footer--info {
    border-top: 0.1rem solid;
    border-color: #89c82e;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
    top: 50%;
    transform: translateY(-50%); }
    .footer--info a {
      color: #89c82e;
      font-size: 1.1rem;
      transition: transform .2s; }
      .footer--info a:hover {
        transform: scale(1.2); }
        .footer--info a:hover p {
          color: #E70064; }

.search-field {
  position: relative; }
  .search-field--search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.3rem solid #E70064;
    border-radius: 5rem;
    width: 66%;
    height: 60%;
    text-indent: 1rem;
    transition: width .2s; }
  .search-field--search-bar:focus {
    width: 70%;
    border-width: .4rem; }

@media screen and (min-width: 576px) {
  .search-field--search-bar {
    left: 40%;
    height: 70%;
    top: 60%; } }
